//COLORS
$dark-main: #000000;
$default: #191919;
$fancy: #ecc7d0;
$default-white: #fff;


//borders
$br-default: 1px solid grey;
$br-dark: 1px solid #191919;


//FONT-WEIGHT
$fw-light: 400;
$fw-medium: 700;

//FONT-SIZE
$fs-small: 0.8rem;

//SPACING
$sp-big: 2.5rem;
$sp-biggest: 4.4rem;
$sp-super-big: 3.75rem;
$sp-large: 4rem;
$sp-small: 0.6rem;
$sp-medium: 1.25rem;
$sp-medium2: 1.87rem;
$sp-small-medium: 0.87rem;